{% extends 'base.html.twig' %}

{% block title %}StudentUser index{% endblock %}

{% block body %}
    <h1>StudentUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_user in student_users %}
            <tr>
                <td>{{ student_user.id }}</td>
                <td>
                    <a href="{{ path('student_user_show', {'id': student_user.id}) }}">show</a>
                    <a href="{{ path('student_user_edit', {'id': student_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_user_new') }}">Create new</a>

    {% for student_user in student_users %}
        {% if student_user.user.id == app.user.id %}
            <div>{{ student_user.studentMatter.name }}</div>
        {% endif %}
        
    {% endfor %}
    
{% endblock %}
