{% extends 'base.html.twig' %}

{% block title %}Confirmation d'inscription{% endblock %}

{% block body %}
    <h1>Confirmation d'inscriptions</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}

    <a href="{{ path('student_index') }}">Annuler</a>
{% endblock %}
