{% extends 'base.html.twig' %}

{% block title %}Matter index{% endblock %}

{% block body %}
    <h1>Matter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matter in matters %}
            <tr>
                <td>{{ matter.id }}</td>
                <td>{{ matter.name }}</td>
                <td>
                    <a href="{{ path('student_edit', {'id': matter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matter_new') }}">Create new</a>

    <div class="flex">
        <div>
            <h2>Liste des matières</h2>
            {% for matter in matters %}
                <div>{{ matter.name }} <a href="{{ path('student_edit', {'id': matter.id}) }}">S'inscrire</a></div>
            {% endfor %}
        </div>
        <div>
            <h2>Liste des matières inscrit</h2>
            {% for user in users %}
            {% for matter in matters %}
                <pre>
                    {{ dump(matter.student) }}
                </pre>
                {# <pre>
                    {{ dump(matter.user) }}
                </pre> #}
                {% if user.studentsMatters.owner.id == app.user.id %}
                    <div>{{ matter.name }}</div>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div>hhha</div>
{% endblock %}
