{% extends 'base.html.twig' %}

{% block title %}Matter index{% endblock %}

{% block body %}

{# <table class="table">
	<thead>
		<tr>
			<th>Matière</th>
			<th>Professeur assigné</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for matter in matters %}
			<tr>
				<td>{{ matter.name }}</td>
				<td>{{ matter.user.fullname }}</td>
				<td>
					<a href="{{ path('matter_show', {'id': matter.id}) }}">show</a>
					<a href="{{ path('matter_edit', {'id': matter.id}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">Il n'y a pas de prof assigné</td>
			</tr>
		{% endfor %}
	</tbody>
</table> #}



    <div class="flex">
        <div>
            <div class="center bold">Liste des étudiants et leurs matières</div>
            <div class="center">
                {% for user in users %}
                    {% if user.roles.0 == "ROLE_STUDENT" %}
                        <div>Matière(s) où {{ user.fullname }} s'est inscrit: </div>
                        {% for studentUser in studentUsers %}
                            {% if studentUser.user.id == user.id %}
                                <span> {{ studentUser.studentMatter.name }},  </span>
                            {% endif %}
                        {% endfor %} <br><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div>
            <div class="center bold">Liste des élèves inscrits dans les matières et leurs notes</div><br>
                <div class="center">
                    {% for matter in matters %}
                        <div style="text-align: center">Cours de {{ matter.name }} : </div><br>
                        {% for studentUser in studentUsers %}
                            {% if studentUser.studentMatter.id == matter.id %}
                            
                                <div style="text-align: center">
                                    <div>
                                        {{studentUser.user.fullname}}, Ses notes pour ce cours :
                                        {% for note in notes %}
                                            {% if note.matter.id == matter.id %}
                                            {% if note.user.id == studentUser.user.id %}
                                            
                                            {{ note.note }} / 20 | {% else %}

                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}  
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}<br>
                    {% endfor %}
                </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    
{% endblock %}
