{% extends 'base.html.twig' %}

{% block title %}Matter index{% endblock %}

{% block body %}

    <a href="{{ path('admin_new') }}" class="btn new">Créez une nouvelle matière</a>

        {% set count = 0 %}
        {% for matter in matters %}
            {% set count = count + 1 %}
        {% endfor %}

    <h2 class="center">Liste de toute les matières ({{ count }} matiere(s))</h2>

    <table class="table">
        <thead>
            <tr class="center">
                <th>Matières</th>
			    <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matter in matters %}
            <tr class="center">
                <td>{{ matter.name }}</td>
				<td>
					<a href="{{ path('admin_edit', {'id': matter.id}) }}">modifier</a> / 
                    {{ include('admin/matter/_delete_form.html.twig') }}
				</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n'y a pas de matière</td>
            </tr>
        {% endfor %}
        </tbody>
</table>


    
{% endblock %}
