<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% if is_granted('ROLE_PROF') or is_granted('ROLE_STUDENT') %}
                <a class="navbar-brand" href="{{ path('home') }}">Home</a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-brand" href="admin">EasyAdmin</a>
            {% endif %}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link login_app" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link registration_app" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    {% endif %}

                    {% if app.user %}

                        {% if is_granted('ROLE_PROF') %}
                        
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_profs_index') }}">Mes Matières</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('noteProfIndex') }}">Notes</a>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_STUDENT') %}
                        
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('student_index') }}">Mes Matières</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('note_index') }}">Notes</a>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                        
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_index') }}">Matières</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('adminProf_index') }}">Profs</a>
                            </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link logout_app" href="{{ path('app_logout') }}">Deconnexion</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
